body {
	margin: 0;
	padding: 0;
	background-color: #D2DBE9;
}

/*-----------controls----------*/

#controls {
	margin-bottom: 30px;
}

#controls, #properties {
	color: #663977;
	height: 100px;
	background-color: #C5CFDF;
	border-bottom: 2px solid #455d82;
}

.container {
	float: left;
	position: relative;
	text-align: center;
	height: 100px;
	width: 120px;
	border-right: 1px solid #455d82;
}

.container p {
	margin: 6px 0;
}

input[type="button"] {
	width: 80px;
	cursor: pointer;	
}

input[type="file"] {
	width: 120px;	
}

#clear #save {
	margin-top: 9px;
}

#size, #mouse-position {
	text-align: justify;
	padding-left: 10px;
}

#size p label {
	margin-right: 5px;
}

input[type="number"] {
	width: 40px;
}

input[type="color"] {
	width: 40px;
	height: 40px;
	position: relative;
	top: -5px;
	left: 5px;
}

#controls .name {
	position: absolute;
	bottom: -25px;
	right: 20px;
	width: 80px;
	text-align: center;
	font: 12px Arial;
	color: #9883A9;
}

#tools, #brush-type, #tool-size, #text {
	width: 85px;
}

#tools .name, #brush-type .name, #tool-size .name, #text .name {
	right: 2px;
}

#color .name {
	right: 80px;
}

#tools #current-tool {
	width: 70px;
	height: 77px;
	margin: auto;
	margin-top: 15px;
}

#tools #current-tool:hover {
	cursor: pointer;
	border: 1px solid;
	border-radius: 2px;
	background-color: #FFDC88;
}

#tools #tools-box {
	margin: 0;
}

#tool-images {
	position: absolute;
	width: 150px;
	top: 110px;
	z-index: 10;
	background: white;
	border: 3px solid;
	display: none;
}

#tool-images img, #shapes img, #tools #current-tool, #tool-size li, #brush-type li, #text #text-image {
	border: 1px solid transparent;
}

#tool-images img:hover, .tool-active {
	cursor: pointer;
	border: 1px solid blue;
}

#controls .tool-active, #shapes .shapes-active {
	border: 1px solid blue ;
}

#tool-images img, #text #text-image, #shapes #shapes-images img, #chosen-tool {
	width: 30px;
	height: 30px;
}

#tool-size ul, #brush-type ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#tool-size summary, #brush-type summary {
	cursor: pointer;
}

#tool-size li:hover, #brush-type li:hover, .size-active {
	cursor: pointer;
	border: 1px solid !important;
	border-radius: 2px;
	background-color: #FFDC88;
}

#controls .size-active {
	border: 1px solid black ;
}

#shapes #shapes-images {	
	margin-top: 15px;
}

#shapes img:hover, #text #text-image:hover {
	cursor: pointer;	
	border: 1px solid blue;
}

#color {
	width: 240px;
}

#color div {
	display: inline-block;
}

#color #chosen-color {
	width: 40px;
	height: 40px;
	border: solid 1px violet;
	position: relative;
	top: 50px;
	background: black;
}

#cont #current-color {
	position: absolute;
	top: 67px;
	left: 14px;
	font-size: 16px;
}

#color span {
	display: inline-block;
	width: 15px;
	height: 15px;
	border: solid 1px violet;
}

#controls #color #left5px, #left5 {
	margin-left: -5px;
}

#picture #move-picture {
	margin-top: 40px;
}

#text #text-size {
	width: 45px;
	padding-left: 5px;
}

#text p {
	margin: 0;
	font-size: 16px;
}

#text #text-title {
	top: 105px;
}

/*----------canvases----------*/

#canvases {
	position: relative;
	margin: 5px 0 0 5px;
}

#back-canvas {
	position: absolute;
	left: 0;
	background-color: white;
}

#front-canvas {
	position: absolute;
	left: 0;
}

/*----------properties----------*/

#properties {
	position: fixed;
	right: 5px;
	width: 130px;
	height: 150px;
	padding: 0 10px;
	display: none;
}

#properties input[type="number"] {
	margin-right: 5px;
	width: 50px;	
}

#properties-title {
	text-align: center;	
}

#invert {
	width: 100px;
	margin-left: 4px;
}

#print-image {
	margin-left: 23px;
}

#color #cont {
	margin-top: -20px;
}

#wide-screen {
	position: relative;
	top: 50px;
}

#color-button {
	display: none;
}

#hide-screen {
	visibility: hidden;
	position: absolute;
	width: 180px;
	top: 105px;
	left: -40px;
	z-index: 10;
	background: #d2dbe9;
	padding-top: 7px;
	border: 1px solid;
}

@media only all and (max-width: 1100px) {

	#color {
		width: 60px;
	}

	#cont #current-color {
		left: 7px;
	}

	#color-button {
		display: block;
		position: relative;
		top: -25px;
	}

	#color #wide-screen {
		display: none;
	}

	#color .name {
		right: -10px;
	}

}
